.MenuVar{
    background: rgba(255, 255, 255, 1);
    color: black;
    border: none;
}

.btn-menu{
    color: white;
    font-family: 'NewYork', serif;
    font-size: large;
    font-weight: lighter;
    transition: .4;
    border-bottom: solid white 1px;
    text-transform: capitalize; 
}
