.background-light{
    background-image: url('../static/images/backLight.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.background-dopamine{
    background-image: url('../static/images/backDopamine.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.background-pinko{
    background-image: url('../static/images/backPinko.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.background-crystal{
    background-image: url('../static/images/backCrystal.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}
.background-citla{
    background-image: url('../static/images/backCitla.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

.read-or-hide{
    color: rgb(196, 219, 255);
    cursor: pointer;
}

.read-or-hide:hover{
    color: rgb(253, 255, 161);
}


@media (max-width: 500px) {
    .track-title{
        font-size: 25px;
    }    
}