.swiper-button-prev{
  color: white;
}
.swiper-button-next{
  color: white;
}

.swiper-container{
  height: 100vh;
  color: white;
  background: black;
  text-align: center;
}

@media (max-width: 600px) {
  .swiper-container{
    height: auto;
  }
}

