body {
  margin: 0;
  font-family: 'Brown-Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NewYork';
  src: url('./static/fonts/NewYork.otf');
}

@font-face {
  font-family: 'Brown-Light';
  src: url('./static/fonts/Brown-Light.ttf');
}